<%- include('partials/header') %>
<div class="jumbotron">

	<h1 class="display-1 text-center">Welcome!!!!!!</h1>
	<h1 class="display-4 text-center">Lot Of Work !! Lets get Started!!</h1>
	<div class="mdup"></div>
	   <div class="row justify-content-between">
			           <div class="text-center col-md-4 col-sm-12">
									 
									  
									     
                                         <a href="/customer"><button class="btn btn-success spc">Customer</button></a>										 
										
									  
                                </div>
								 
							   <div class="text-center col-md-4 col-sm-12">
									 
									  
										<a href="/fare"><button class="btn btn-danger spc ">Stops</button></a>	
										
									  
                                </div>
								 
							   <div class="text-center col-md-4 col-sm-12">
									  
									  
										<a href="/bus"><button class="btn btn-warning spc">buses</button></a>	
									 
                                </div>
			 </div>
	


</div>  
  



<%- include('partials/footer') %>